header {
  color: black;
  background-color: grey;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
div {
    display:inline-block;
}
main {
    position: relative;
    left: 650px;
}
h1 {
    padding-bottom: 35px;
}
li {
    color: black;
    font-size: x-large;
}
table, th, td {
    border: 1px solid black;
  }

h2 {
    padding-top: 10px;
    text-align: right;
}
